// Specific CSS for your home-page
@import "../components/card_grid";
@import "../components/card";
@import "../components/banner";

body {
  font-family: Helvetica;
  background-color: rgba(5,5,5,1);
  color: white;
}


